@use '../colors' as clr;

.about {
  padding-block: 3rem 2rem;
  padding-inline: 1rem;

  article {
    h2,
    h3,
    h4 {
      color: #333;
    }

    h2,
    p {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    h3 {
      font-size: 2.1rem;
      margin-bottom: 1.5rem;
    }

    h4 {
      margin-bottom: 1rem;
    }

    h4,
    p {
      font-size: 1.8rem;
    }

    ul {
      margin-bottom: 2rem;

      li {
        margin-bottom: 1rem;
        margin-left: 3rem;

        &::marker {
          color: clr.$primary;
        }
      }
    }
  }
}
