.all-articles {
  padding-block: 2rem 4rem;
  padding-inline: 1rem;

  // Stops layout from suddenly shifting & bringing footer into view
  // Works by preventing element from shrinking too much when loading paginated articles
  min-height: 80vh;
}

.error {
  max-width: 30ch;
  margin-inline: auto;
  margin-block: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(196, 58, 58);
}
