@use '../colors' as clr;

.blog {
  padding-inline: 1rem;
  margin-block: 1rem 3rem;
}

.articles-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  max-width: 800px;
  margin-inline: auto;
}

.latest-articles,
.other-articles {
  padding-block: 2rem;

  h2 {
    color: #333;
  }
}
