@use '../colors' as clr;
@use '../media-queries' as mq;

.holiday-packages,
.sales-pitch {
  padding-block: 2rem;
}

.sales-pitch {
  padding-inline: 1rem;

  h2 {
    position: relative;
    max-width: 30ch;
    margin-inline: auto;
    margin-block: 4rem 4rem;
    text-align: center;
    line-height: 1.6;
    color: #333;

    @include mq.sm {
      .left-indent {
        text-indent: -10rem;
      }

      .right-indent {
        text-indent: 10rem;
      }
    }

    @include mq.md {
      margin-block: 6rem;
    }

    .free,
    .roam {
      text-transform: uppercase;
    }
    .free {
      color: clr.$secondary;
    }
    .roam {
      color: clr.$primary;
    }

    // Header decoration - bordered corners
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 3rem;
      height: 2rem;
    }

    &::before {
      top: -2rem;
      left: 0;
      border-top: 4px solid clr.$primary;
      border-left: 4px solid clr.$primary;
    }

    &::after {
      bottom: -2rem;
      right: 0;
      border-bottom: 4px solid clr.$secondary;
      border-right: 4px solid clr.$secondary;
    }
  }

  .credibility {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 400px;
    margin-inline: auto;

    // Image containers - image size is relative to container size
    // NOTE: responsive image height is determined using padding-top
    .trust-pilot,
    .trip-advisor,
    .travel-weekly {
      position: relative;
      width: 100%;
    }

    .trust-pilot {
      padding-top: 50%;
    }

    // text
    .trust-builder {
      padding: 1.5rem;
      background-color: clr.$primary-dark;
      color: #f4f4f4;
      border-radius: 4px;
    }

    .trip-advisor {
      padding-top: 120%;
      opacity: 0.8;
    }

    .travel-weekly {
      padding-top: 110%;
      opacity: 0.9;
    }

    @include mq.md {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      max-width: 750px;

      .trust-pilot {
        grid-column: 1 / 2;
      }

      .trust-builder {
        grid-column: 2 / 3;
      }

      .trip-advisor {
        grid-column: 1 / 2;
        grid-row-start: 2;
      }

      .travel-weekly {
        grid-column: 2 / 3;
        grid-row-start: 2;
      }
    }
  }
}
