@use '../../styles/media-queries' as mq;

.container {
  position: relative;
  width: 100%;
  padding-top: 50%;

  // center text
  display: grid;
  place-items: center;

  // image overlay color
  background-color: rgba(0, 0, 0, 0.4);

  img {
    mix-blend-mode: overlay;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    margin: 0;
    color: white;
    z-index: 1;
  }

  @include mq.lg {
    margin-top: 3rem;
  }
}
