@use '../../styles/colors' as clr;
@use '../../styles/media-queries' as mq;

.root-container {
  $image-gap: 1.5rem; // gap between images

  padding: 2rem 1rem;
  overflow: hidden; // hides overflow from image-reel-container

  .title {
    position: relative;
    text-align: center;
    max-width: max-content;
    margin-block: 2rem 4rem;
    margin-inline: auto;

    @include mq.md {
      margin-block: 4rem 6rem;
    }

    // Heading decorators
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 0.5rem;
      border-radius: 10px;
      z-index: -1;
    }

    &::before {
      width: 4rem;
      background-color: lighten(clr.$primary, 10);
      top: -0.75rem;
      left: -1.5rem;
    }

    &::after {
      width: 3rem;
      background-color: clr.$secondary;
      bottom: -1rem;
      right: -1.75rem;
    }
  }

  .image-reel-container {
    position: relative;
    // Width MUST BE EQUAL TO sum of ALL image widths
    width: 1200px;
    height: 200px;
    margin-block: 2rem;
    display: flex;
    align-items: center;

    .image-reel {
      position: absolute; // necessary for animation
      display: flex;
      gap: $image-gap;
      // 200% because it holds 2 image-groups which it cycles between
      // subtract $image-gap to account for flex gap between image-groups
      width: calc(200% - $image-gap);
      animation: auto-infinite-scroll 15s linear infinite;

      &:hover {
        animation-play-state: paused;
      }

      .image-group {
        display: flex;
        flex-wrap: nowrap;
        gap: $image-gap;
      }
    }
  }
}

// pulls .image-reel to left
@keyframes auto-infinite-scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
