@use '../../styles/colors' as clr;
@use '../../styles/media-queries' as mq;

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  position: relative;
  text-align: center;
  max-width: max-content;
  margin-block: 2rem 4rem;
  margin-inline: auto;
  text-transform: capitalize;
  color: #333;

  @include mq.md {
    margin-block: 4rem 6rem;
  }

  // Heading decorators
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 0.5rem;
    border-radius: 10px;
    z-index: 10;
  }

  &::before {
    width: 4rem;
    background-color: lighten(clr.$primary, 10);
    top: -0.75rem;
    left: -1.5rem;
  }

  &::after {
    width: 3rem;
    background-color: clr.$secondary;
    bottom: -1rem;
    right: -1.75rem;
  }
}
