$light: #fff;
$dark: #111;
$primary: #0070f3;

// Yellow
// $secondary: #f2ce0c; // initial
// $secondary: darken(#f2ce0c, 3);
// $secondary: darken(#f2ce0c, 5);
$secondary: #e3c20b;

$grey-100: #eee;
$grey-200: #ddd;
