@use './colors' as clr;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem == 10px
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

//! Ensures that article images (from Strapi) don't overflow container
img {
  display: block;
  max-width: 100%;
}

.resize-animation-stopper * {
  // animation: none !important;
  // preferred over the above, as it prevents ImageReel animation from restarting on resize
  animation-play-state: paused !important;
  transition: none !important;
}
